<!DOCTYPE HTML>
<html xmlns:th="http://wwww.thymeleaf.org">
<body>
<div th:fragment="nav">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">社区</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">程序猿社区</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <!-- ========================================搜索框=====================================================-->
                <form action="/" method="get">
                    <div class="col-lg-2">
                        <div class="input-group input_style">
                            <input type="text" name="search" class="form-control" placeholder="搜索话题">
                            <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">搜索</button>
                            </span>
                        </div>
                    </div>
                </form>
                <!-- ========================================搜索框=====================================================-->


                <!--========================================右边的button=====================================================-->
                <ul class="nav navbar-nav navbar-right">
                    <!--注册-->
                    <li th:if="${session.user ==null}">
                        <a href="/register">注册</a>
                    </li>
                    <!--注册-->

                    <!--提问-->
                    <li th:if="${session.user != null}">
                        <a href="/publish" th:if="${section != 'questions' && section != 'replies'}">提问</a>
                    </li>
                    <!--提问-->

                    <!--通知-->
                    <li><a href="/profile/replies" th:if="${session.user != null}">消息
                        <span class="badge unread" th:text="${session.unreadCount}"></span></a>  <!--未读数-->
                    </li>
                    <!--通知-->

                    <!--=====================已经登录后的下拉框===============================-->
                    <li class="dropdown" th:if="${session.user != null}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <span th:text="${session.user.getName()}"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" style="min-width:100%;">
                            <li><a href="/profile/questions" th:if="${section != 'questions' && section != 'replies'}">我的问题</a>
                            </li>
                            <li><a href="/logout">退出登陆</a></li>
                            <li><a href="#">我的设置</a></li>
                        </ul>
                    </li>
                    <!--=====================已经登录后的下拉框===============================-->

                    <!--=====================还未登录后的下拉框===============================-->
                    <li class="dropdown" th:unless="not ${session.user == null}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <span>登陆</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" style="min-width:100%;">
                            <li>
                                <a th:href="@{https://github.com/login/oauth/authorize(client_id='1572121ada7cbca3061f',redirect_uri=${#httpServletRequest.getRequestURL()+'callback'},scope='user',state=1)}">github</a>
                            </li>
                            <li>
                                <a href="/login">普通</a>
                            </li>
                        </ul>
                    </li>
                    <!--=====================还未登录后的下拉框===============================-->

                </ul>
                <!--========================================右边的button=====================================================-->

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
</body>
</html>
